/* Mengatur body dan container untuk menempatkan form di tengah layar */
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212; /* Background belakang */
}

/* Menambahkan padding dan latar belakang hitam pada form */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  border-radius: 25px;
  transition: .4s ease-in-out;
  width: 100%;
  max-width: 400px; /* Menentukan lebar maksimum untuk form */
}

/* Hover efek pada form */
.form:hover {
  transform: scale(1.05);
  border: 1px solid black;
}

/* Heading form */
#heading {
  text-align: center;
  margin: 2em;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}

/* Field untuk input form */
.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

/* Input icon styling */
.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

/* Styling input field */
.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

/* Tombol-tombol dalam form */
.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

/* Tombol utama */
.button1 {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

/* Hover pada tombol utama */
.button1:hover {
  background-color: black;
  color: white;
}

/* Tombol kedua */
.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

/* Hover pada tombol kedua */
.button2:hover {
  background-color: black;
  color: white;
}

/* Tombol ketiga */
.button3 {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

/* Hover pada tombol ketiga */
.button3:hover {
  background-color: red;
  color: white;
}

/* Menata link lupa password dan signup */
.forgot-signup-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.forgot-password, .sign-up {
  color: #d3d3d3;
  text-decoration: none;
  font-size: 0.9em;
}

.forgot-password:hover, .sign-up:hover {
  color: white;
}
